body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--terciary-color);
    height: 70%;
    width: fit-content;
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 20px
}

.inputContainer {
    background-color: var(--secondary-color);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input {
    font-size: 1.4rem;
    width: 200px;
    height: 100px;
    text-align: center;
}

.displayArea {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: var(--primary-color);
}